<mat-toolbar style="height:70px;display:block;" class="m-0 p-0">
  <app-topnav></app-topnav>
</mat-toolbar>
<mat-sidenav-container class="m-0 p-0">
    <mat-sidenav #sidenav opened="true" mode="side">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <span class="tool mat-elevation-z4">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon (click)= "sidenav.toggle()">menu</mat-icon>
 </button> &nbsp;
</span> -->