.row{
    display: flex;
    justify-content: center;
}
.button1{
    color: aliceblue;
    width: 100%;
    height:45px;
    background-color: rgb(46, 90, 134);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1:hover,
.button1:focus,
.button1:active
{
    background-color: rgb(31, 161, 231);
    border-bottom: 3px solid rgb(221, 213, 213);
    border-radius: 8px;
}

a{
    text-decoration: none;
}